// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as serializers from "../../../../../../serialization/index.js";
import * as Corti from "../../../../../index.js";

export declare namespace AgentsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AgentsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AgentsClient.Options>;

    constructor(options: AgentsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists agents visible to the caller. `private` agents are visible only to
     * their creator/service principal; `unlisted` agents are omitted (fetch by
     * ID instead); `public` agents are listed tenant-wide.
     * The `visibility`, `lifecycle`, `label`, and `q` filter parameters are accepted but not yet honored by the server; the response is unfiltered.
     *
     * @param {Corti.agentic.AgenticListRequest} request
     * @param {AgentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Corti.BadRequestError}
     * @throws {@link Corti.UnauthorizedError}
     *
     * @example
     *     await client.agentic.agents.list({
     *         label: ["team=coding"],
     *         q: "coder"
     *     })
     */
    public async list(
        request: Corti.agentic.AgenticListRequest = {},
        requestOptions?: AgentsClient.RequestOptions,
    ): Promise<core.Page<Corti.AgenticResponse, Corti.AgenticListResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: Corti.agentic.AgenticListRequest,
            ): Promise<core.WithRawResponse<Corti.AgenticListResponse>> => {
                const { pageSize, pageToken, visibility, lifecycle, label, q } = request;
                const _queryParams: Record<string, unknown> = {
                    pageSize,
                    pageToken,
                    visibility: Array.isArray(visibility)
                        ? visibility.map((item) =>
                              serializers.AgenticVisibility.jsonOrThrow(item, {
                                  unrecognizedObjectKeys: "strip",
                                  omitUndefined: true,
                              }),
                          )
                        : visibility != null
                          ? serializers.AgenticVisibility.jsonOrThrow(visibility, {
                                unrecognizedObjectKeys: "strip",
                                omitUndefined: true,
                            })
                          : undefined,
                    lifecycle:
                        lifecycle != null
                            ? serializers.AgenticLifecycle.jsonOrThrow(lifecycle, {
                                  unrecognizedObjectKeys: "strip",
                                  omitUndefined: true,
                              })
                            : undefined,
                    label,
                    q,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    mergeOnlyDefinedHeaders({ "Tenant-Name": requestOptions?.tenantName ?? this._options?.tenantName }),
                    requestOptions?.headers,
                );
                const _response = await core.fetcher({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)).base,
                        "agentic/agents",
                    ),
                    method: "GET",
                    headers: _headers,
                    queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: serializers.AgenticListResponse.parseOrThrow(_response.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 400:
                            throw new Corti.BadRequestError(_response.error.body, _response.rawResponse);
                        case 401:
                            throw new Corti.UnauthorizedError(_response.error.body, _response.rawResponse);
                        default:
                            throw new errors.CortiError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/agentic/agents");
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<Corti.AgenticResponse, Corti.AgenticListResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.nextPageToken != null &&
                !(typeof response?.nextPageToken === "string" && response?.nextPageToken === ""),
            getItems: (response) => response?.agents ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "pageToken", response?.nextPageToken));
            },
        });
    }

    /**
     * Creates a new agent. The server assigns the UUIDv7 `id`.
     *
     * @param {Corti.agentic.AgenticCreateRequest} request
     * @param {AgentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Corti.BadRequestError}
     * @throws {@link Corti.UnauthorizedError}
     * @throws {@link Corti.ForbiddenError}
     * @throws {@link Corti.ConflictError}
     * @throws {@link Corti.UnprocessableEntityError}
     *
     * @example
     *     await client.agentic.agents.create({
     *         name: "coder",
     *         description: "Returns ICD-10 codes for a clinical encounter.",
     *         systemPrompt: "Respond with only the ICD-10 code.",
     *         model: "corti-default",
     *         visibility: "private",
     *         lifecycle: "persistent",
     *         connectors: [{
     *                 type: "registry",
     *                 name: "@corti/coding-expert"
     *             }, {
     *                 type: "mcp",
     *                 name: "policybot",
     *                 url: "https://mcp.example.com",
     *                 auth: {
     *                     type: "oauth2",
     *                     scope: "read:policies",
     *                     redirectUrl: "https://app.corti.ai/oauth/callback"
     *                 }
     *             }, {
     *                 type: "schema",
     *                 name: "submit_code",
     *                 description: "Submit the final ICD-10 code for the encounter along with a confidence score.",
     *                 schema: {
     *                     "type": "object",
     *                     "properties": {
     *                         "code": {
     *                             "type": "string",
     *                             "description": "The selected ICD-10 code."
     *                         },
     *                         "confidence": {
     *                             "type": "number",
     *                             "minimum": 0,
     *                             "maximum": 1
     *                         }
     *                     },
     *                     "required": [
     *                         "code"
     *                     ]
     *                 },
     *                 transition: "complete"
     *             }],
     *         labels: {
     *             "team": "coding",
     *             "env": "prod"
     *         }
     *     })
     */
    public create(
        request: Corti.agentic.AgenticCreateRequest,
        requestOptions?: AgentsClient.RequestOptions,
    ): core.HttpResponsePromise<Corti.AgenticResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Corti.agentic.AgenticCreateRequest,
        requestOptions?: AgentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Corti.AgenticResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Tenant-Name": requestOptions?.tenantName ?? this._options?.tenantName }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).base,
                "agentic/agents",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.agentic.AgenticCreateRequest.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.AgenticResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Corti.BadRequestError(_response.error.body, _response.rawResponse);
                case 401:
                    throw new Corti.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 403:
                    throw new Corti.ForbiddenError(_response.error.body, _response.rawResponse);
                case 409:
                    throw new Corti.ConflictError(_response.error.body, _response.rawResponse);
                case 422:
                    throw new Corti.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.CortiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/agentic/agents");
    }
}
