// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as serializers from "../../../../../../serialization/index.js";
import * as Corti from "../../../../../index.js";

export declare namespace AgentsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AgentsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AgentsClient.Options>;

    constructor(options: AgentsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * Lists agents visible to the caller. `private` agents are visible only to
     * their creator/service principal; `unlisted` agents are omitted (fetch by
     * ID instead); `public` agents are listed tenant-wide.
     * The `visibility`, `lifecycle`, `label`, and `q` filter parameters are accepted but not yet honored by the server; the response is unfiltered.
     *
     * @param {Corti.agentic.AgenticAgentsListRequest} request
     * @param {AgentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Corti.BadRequestError}
     * @throws {@link Corti.UnauthorizedError}
     *
     * @example
     *     await client.agentic.agents.list({
     *         label: ["team=coding"],
     *         q: "coder"
     *     })
     */
    public async list(
        request: Corti.agentic.AgenticAgentsListRequest = {},
        requestOptions?: AgentsClient.RequestOptions,
    ): Promise<core.Page<Corti.AgenticAgentsResponse, Corti.AgenticAgentsListResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: Corti.agentic.AgenticAgentsListRequest,
            ): Promise<core.WithRawResponse<Corti.AgenticAgentsListResponse>> => {
                const { pageSize, pageToken, visibility, lifecycle, label, q } = request;
                const _queryParams: Record<string, unknown> = {
                    pageSize,
                    pageToken,
                    visibility: Array.isArray(visibility)
                        ? visibility.map((item) =>
                              serializers.AgentsVisibility.jsonOrThrow(item, {
                                  unrecognizedObjectKeys: "strip",
                                  omitUndefined: true,
                              }),
                          )
                        : visibility != null
                          ? serializers.AgentsVisibility.jsonOrThrow(visibility, {
                                unrecognizedObjectKeys: "strip",
                                omitUndefined: true,
                            })
                          : undefined,
                    lifecycle:
                        lifecycle != null
                            ? serializers.AgentsLifecycle.jsonOrThrow(lifecycle, {
                                  unrecognizedObjectKeys: "strip",
                                  omitUndefined: true,
                              })
                            : undefined,
                    label,
                    q,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    mergeOnlyDefinedHeaders({ "Tenant-Name": requestOptions?.tenantName ?? this._options?.tenantName }),
                    requestOptions?.headers,
                );
                const _response = await core.fetcher({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)).base,
                        "agentic/agents",
                    ),
                    method: "GET",
                    headers: _headers,
                    queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: serializers.AgenticAgentsListResponse.parseOrThrow(_response.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 400:
                            throw new Corti.BadRequestError(_response.error.body, _response.rawResponse);
                        case 401:
                            throw new Corti.UnauthorizedError(_response.error.body, _response.rawResponse);
                        default:
                            throw new errors.CortiError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/agentic/agents");
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<Corti.AgenticAgentsResponse, Corti.AgenticAgentsListResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.nextPageToken != null &&
                !(typeof response?.nextPageToken === "string" && response?.nextPageToken === ""),
            getItems: (response) => response?.agents ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "pageToken", response?.nextPageToken));
            },
        });
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * Creates a new agent. The server assigns the UUIDv7 `id`.
     *
     * @param {Corti.agentic.AgenticAgentsCreateRequest} request
     * @param {AgentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Corti.BadRequestError}
     * @throws {@link Corti.UnauthorizedError}
     * @throws {@link Corti.ForbiddenError}
     * @throws {@link Corti.ConflictError}
     * @throws {@link Corti.UnprocessableEntityError}
     *
     * @example
     *     await client.agentic.agents.create({
     *         name: "coder",
     *         description: "Returns ICD-10 codes for a clinical encounter.",
     *         systemPrompt: "Respond with only the ICD-10 code.",
     *         model: "corti-default",
     *         visibility: "private",
     *         lifecycle: "persistent",
     *         connectors: [{
     *                 type: "registry",
     *                 name: "@corti/coding-expert"
     *             }, {
     *                 type: "mcp",
     *                 name: "policybot",
     *                 url: "https://mcp.example.com",
     *                 auth: {
     *                     type: "oauth2",
     *                     scope: "read:policies",
     *                     redirectUrl: "https://app.corti.ai/oauth/callback"
     *                 }
     *             }, {
     *                 type: "schema",
     *                 name: "submit_code",
     *                 description: "Submit the final ICD-10 code for the encounter along with a confidence score.",
     *                 schema: {
     *                     "type": "object",
     *                     "properties": {
     *                         "code": {
     *                             "type": "string",
     *                             "description": "The selected ICD-10 code."
     *                         },
     *                         "confidence": {
     *                             "type": "number",
     *                             "minimum": 0,
     *                             "maximum": 1
     *                         }
     *                     },
     *                     "required": [
     *                         "code"
     *                     ]
     *                 },
     *                 transition: "complete"
     *             }],
     *         labels: {
     *             "team": "coding",
     *             "env": "prod"
     *         }
     *     })
     */
    public create(
        request: Corti.agentic.AgenticAgentsCreateRequest,
        requestOptions?: AgentsClient.RequestOptions,
    ): core.HttpResponsePromise<Corti.AgenticAgentsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Corti.agentic.AgenticAgentsCreateRequest,
        requestOptions?: AgentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Corti.AgenticAgentsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Tenant-Name": requestOptions?.tenantName ?? this._options?.tenantName }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).base,
                "agentic/agents",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.agentic.AgenticAgentsCreateRequest.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.AgenticAgentsResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Corti.BadRequestError(_response.error.body, _response.rawResponse);
                case 401:
                    throw new Corti.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 403:
                    throw new Corti.ForbiddenError(_response.error.body, _response.rawResponse);
                case 409:
                    throw new Corti.ConflictError(_response.error.body, _response.rawResponse);
                case 422:
                    throw new Corti.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.CortiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/agentic/agents");
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * @param {Corti.CommonAgentIdValue} agentId - Agent identifier (prefixed UUIDv7).
     * @param {AgentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Corti.UnauthorizedError}
     * @throws {@link Corti.ForbiddenError}
     * @throws {@link Corti.NotFoundError}
     *
     * @example
     *     await client.agentic.agents.get("agt.0192f4c8-2c5a-7b3e-9f1a-3c8d6e2b7a40")
     */
    public get(
        agentId: Corti.CommonAgentIdValue,
        requestOptions?: AgentsClient.RequestOptions,
    ): core.HttpResponsePromise<Corti.AgenticAgentsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(agentId, requestOptions));
    }

    private async __get(
        agentId: Corti.CommonAgentIdValue,
        requestOptions?: AgentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Corti.AgenticAgentsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Tenant-Name": requestOptions?.tenantName ?? this._options?.tenantName }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).base,
                `agentic/agents/${core.url.encodePathParam(serializers.CommonAgentIdValue.jsonOrThrow(agentId, { omitUndefined: true }))}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.AgenticAgentsResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Corti.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 403:
                    throw new Corti.ForbiddenError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new Corti.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.CortiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/agentic/agents/{agentId}");
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * Deletes a `persistent` agent. `ephemeral` agents are expired in place.
     * Idempotent: deleting an already-deleted agent returns `204`.
     *
     * @param {Corti.CommonAgentIdValue} agentId - Agent identifier (prefixed UUIDv7).
     * @param {AgentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Corti.UnauthorizedError}
     * @throws {@link Corti.ForbiddenError}
     * @throws {@link Corti.NotFoundError}
     *
     * @example
     *     await client.agentic.agents.delete("agt.0192f4c8-2c5a-7b3e-9f1a-3c8d6e2b7a40")
     */
    public delete(
        agentId: Corti.CommonAgentIdValue,
        requestOptions?: AgentsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(agentId, requestOptions));
    }

    private async __delete(
        agentId: Corti.CommonAgentIdValue,
        requestOptions?: AgentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Tenant-Name": requestOptions?.tenantName ?? this._options?.tenantName }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).base,
                `agentic/agents/${core.url.encodePathParam(serializers.CommonAgentIdValue.jsonOrThrow(agentId, { omitUndefined: true }))}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Corti.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 403:
                    throw new Corti.ForbiddenError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new Corti.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.CortiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/agentic/agents/{agentId}");
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * Partially updates an agent using JSON Merge Patch (RFC 7386).
     * Omitted fields are unchanged; `null` clears a field; arrays replace.
     *
     * @param {Corti.CommonAgentIdValue} agentId - Agent identifier (prefixed UUIDv7).
     * @param {Corti.agentic.AgenticAgentsPatchRequest} request
     * @param {AgentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Corti.BadRequestError}
     * @throws {@link Corti.UnauthorizedError}
     * @throws {@link Corti.ForbiddenError}
     * @throws {@link Corti.NotFoundError}
     * @throws {@link Corti.UnprocessableEntityError}
     *
     * @example
     *     await client.agentic.agents.update("agt.0192f4c8-2c5a-7b3e-9f1a-3c8d6e2b7a40", {
     *         name: "coder-v2",
     *         connectors: [{
     *                 type: "registry",
     *                 name: "@corti/coding-expert"
     *             }]
     *     })
     */
    public update(
        agentId: Corti.CommonAgentIdValue,
        request: Corti.agentic.AgenticAgentsPatchRequest = {},
        requestOptions?: AgentsClient.RequestOptions,
    ): core.HttpResponsePromise<Corti.AgenticAgentsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(agentId, request, requestOptions));
    }

    private async __update(
        agentId: Corti.CommonAgentIdValue,
        request: Corti.agentic.AgenticAgentsPatchRequest = {},
        requestOptions?: AgentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Corti.AgenticAgentsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Tenant-Name": requestOptions?.tenantName ?? this._options?.tenantName }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).base,
                `agentic/agents/${core.url.encodePathParam(serializers.CommonAgentIdValue.jsonOrThrow(agentId, { omitUndefined: true }))}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/merge-patch+json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.agentic.AgenticAgentsPatchRequest.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.AgenticAgentsResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Corti.BadRequestError(_response.error.body, _response.rawResponse);
                case 401:
                    throw new Corti.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 403:
                    throw new Corti.ForbiddenError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new Corti.NotFoundError(_response.error.body, _response.rawResponse);
                case 422:
                    throw new Corti.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.CortiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PATCH", "/agentic/agents/{agentId}");
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * Returns the A2A v1.0 agent card describing the agent's capabilities,
     * skills, and supported protocol interfaces. Served at the standard
     * `.well-known` location for agent discovery.
     *
     * @param {Corti.CommonAgentIdValue} agentId - Agent identifier (prefixed UUIDv7).
     * @param {AgentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Corti.UnauthorizedError}
     * @throws {@link Corti.NotFoundError}
     *
     * @example
     *     await client.agentic.agents.getCard("agt.0192f4c8-2c5a-7b3e-9f1a-3c8d6e2b7a40")
     */
    public getCard(
        agentId: Corti.CommonAgentIdValue,
        requestOptions?: AgentsClient.RequestOptions,
    ): core.HttpResponsePromise<Corti.AgenticAgentCardResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getCard(agentId, requestOptions));
    }

    private async __getCard(
        agentId: Corti.CommonAgentIdValue,
        requestOptions?: AgentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Corti.AgenticAgentCardResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Tenant-Name": requestOptions?.tenantName ?? this._options?.tenantName }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).base,
                `agentic/agents/${core.url.encodePathParam(serializers.CommonAgentIdValue.jsonOrThrow(agentId, { omitUndefined: true }))}/.well-known/agent-card.json`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.AgenticAgentCardResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Corti.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new Corti.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.CortiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/agentic/agents/{agentId}/.well-known/agent-card.json",
        );
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * Returns invocation metrics for the agent over the half-open `[from, to)`
     * time range (UTC), bucketed at the requested `granularity`. The response
     * echoes the resolved range and granularity, a `totals` summary across the
     * whole range, and one `buckets` entry per period that had activity (the
     * array is empty when there was none). When `from`/`to` are omitted, the
     * range defaults to the last 30 days.
     *
     * @param {Corti.CommonAgentIdValue} agentId - Agent identifier (prefixed UUIDv7).
     * @param {Corti.agentic.AgenticAgentsGetUsageRequest} request
     * @param {AgentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Corti.BadRequestError}
     * @throws {@link Corti.UnauthorizedError}
     * @throws {@link Corti.NotFoundError}
     *
     * @example
     *     await client.agentic.agents.getUsage("agt.0192f4c8-2c5a-7b3e-9f1a-3c8d6e2b7a40", {
     *         from: new Date("2026-05-19T00:00:00.000Z"),
     *         to: new Date("2026-05-20T00:00:00.000Z")
     *     })
     */
    public getUsage(
        agentId: Corti.CommonAgentIdValue,
        request: Corti.agentic.AgenticAgentsGetUsageRequest = {},
        requestOptions?: AgentsClient.RequestOptions,
    ): core.HttpResponsePromise<Corti.AgenticUsageReportResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getUsage(agentId, request, requestOptions));
    }

    private async __getUsage(
        agentId: Corti.CommonAgentIdValue,
        request: Corti.agentic.AgenticAgentsGetUsageRequest = {},
        requestOptions?: AgentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Corti.AgenticUsageReportResponse>> {
        const { from: from_, to, granularity } = request;
        const _queryParams: Record<string, unknown> = {
            from: from_ != null ? from_?.toISOString() : undefined,
            to: to != null ? to?.toISOString() : undefined,
            granularity:
                granularity != null
                    ? serializers.AgenticUsageGranularity.jsonOrThrow(granularity, {
                          unrecognizedObjectKeys: "strip",
                          omitUndefined: true,
                      })
                    : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Tenant-Name": requestOptions?.tenantName ?? this._options?.tenantName }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).base,
                `agentic/agents/${core.url.encodePathParam(serializers.CommonAgentIdValue.jsonOrThrow(agentId, { omitUndefined: true }))}/usage`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.AgenticUsageReportResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Corti.BadRequestError(_response.error.body, _response.rawResponse);
                case 401:
                    throw new Corti.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new Corti.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.CortiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/agentic/agents/{agentId}/usage",
        );
    }
}
