// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import * as Corti from "../../../index.js";

export declare namespace AgenticClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AgenticClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AgenticClient.Options>;

    constructor(options: AgenticClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists agents visible to the caller. `private` agents are visible only to
     * their creator/service principal; `unlisted` agents are omitted (fetch by
     * ID instead); `public` agents are listed tenant-wide.
     * The `visibility`, `lifecycle`, `label`, and `q` filter parameters are accepted but not yet honored by the server; the response is unfiltered.
     *
     * @param {Corti.ListAgenticRequest} request
     * @param {AgenticClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Corti.BadRequestError}
     * @throws {@link Corti.UnauthorizedError}
     *
     * @example
     *     await client.agentic.list({
     *         label: ["team=coding"],
     *         q: "coder"
     *     })
     */
    public async list(
        request: Corti.ListAgenticRequest = {},
        requestOptions?: AgenticClient.RequestOptions,
    ): Promise<core.Page<Corti.AgentsResponse, Corti.AgentsListResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (request: Corti.ListAgenticRequest): Promise<core.WithRawResponse<Corti.AgentsListResponse>> => {
                const { pageSize, pageToken, visibility, lifecycle, label, q } = request;
                const _queryParams: Record<string, unknown> = {
                    pageSize,
                    pageToken,
                    visibility: Array.isArray(visibility)
                        ? visibility.map((item) =>
                              serializers.AgentsVisibility.jsonOrThrow(item, {
                                  unrecognizedObjectKeys: "strip",
                                  omitUndefined: true,
                              }),
                          )
                        : visibility != null
                          ? serializers.AgentsVisibility.jsonOrThrow(visibility, {
                                unrecognizedObjectKeys: "strip",
                                omitUndefined: true,
                            })
                          : undefined,
                    lifecycle:
                        lifecycle != null
                            ? serializers.AgentsLifecycle.jsonOrThrow(lifecycle, {
                                  unrecognizedObjectKeys: "strip",
                                  omitUndefined: true,
                              })
                            : undefined,
                    label,
                    q,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    mergeOnlyDefinedHeaders({ "Tenant-Name": requestOptions?.tenantName ?? this._options?.tenantName }),
                    requestOptions?.headers,
                );
                const _response = await core.fetcher({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)).base,
                        "agentic/agents",
                    ),
                    method: "GET",
                    headers: _headers,
                    queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: serializers.AgentsListResponse.parseOrThrow(_response.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 400:
                            throw new Corti.BadRequestError(_response.error.body, _response.rawResponse);
                        case 401:
                            throw new Corti.UnauthorizedError(_response.error.body, _response.rawResponse);
                        default:
                            throw new errors.CortiError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/agentic/agents");
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<Corti.AgentsResponse, Corti.AgentsListResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.nextPageToken != null &&
                !(typeof response?.nextPageToken === "string" && response?.nextPageToken === ""),
            getItems: (response) => response?.agents ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "pageToken", response?.nextPageToken));
            },
        });
    }
}
