// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import * as Corti from "../../../index.js";
import { A2AClient } from "../resources/a2A/client/Client.js";
import { ArtifactsClient } from "../resources/artifacts/client/Client.js";
import { ConnectorsClient } from "../resources/connectors/client/Client.js";
import { ContextsClient } from "../resources/contexts/client/Client.js";
import { FeedbackClient } from "../resources/feedback/client/Client.js";
import { RegistryClient } from "../resources/registry/client/Client.js";
import { UsageClient } from "../resources/usage/client/Client.js";

export declare namespace AgenticClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AgenticClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AgenticClient.Options>;
    protected _a2A: A2AClient | undefined;
    protected _usage: UsageClient | undefined;
    protected _connectors: ConnectorsClient | undefined;
    protected _contexts: ContextsClient | undefined;
    protected _artifacts: ArtifactsClient | undefined;
    protected _registry: RegistryClient | undefined;
    protected _feedback: FeedbackClient | undefined;

    constructor(options: AgenticClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get a2A(): A2AClient {
        return (this._a2A ??= new A2AClient(this._options));
    }

    public get usage(): UsageClient {
        return (this._usage ??= new UsageClient(this._options));
    }

    public get connectors(): ConnectorsClient {
        return (this._connectors ??= new ConnectorsClient(this._options));
    }

    public get contexts(): ContextsClient {
        return (this._contexts ??= new ContextsClient(this._options));
    }

    public get artifacts(): ArtifactsClient {
        return (this._artifacts ??= new ArtifactsClient(this._options));
    }

    public get registry(): RegistryClient {
        return (this._registry ??= new RegistryClient(this._options));
    }

    public get feedback(): FeedbackClient {
        return (this._feedback ??= new FeedbackClient(this._options));
    }

    /**
     * Lists agents visible to the caller. `private` agents are visible only to
     * their creator/service principal; `unlisted` agents are omitted (fetch by
     * ID instead); `public` agents are listed tenant-wide.
     * The `visibility`, `lifecycle`, `label`, and `q` filter parameters are accepted but not yet honored by the server; the response is unfiltered.
     *
     * @param {Corti.ListAgenticRequest} request
     * @param {AgenticClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Corti.BadRequestError}
     * @throws {@link Corti.UnauthorizedError}
     *
     * @example
     *     await client.agentic.list({
     *         label: ["team=coding"],
     *         q: "coder"
     *     })
     */
    public list(
        request: Corti.ListAgenticRequest = {},
        requestOptions?: AgenticClient.RequestOptions,
    ): core.HttpResponsePromise<Corti.AgentsListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: Corti.ListAgenticRequest = {},
        requestOptions?: AgenticClient.RequestOptions,
    ): Promise<core.WithRawResponse<Corti.AgentsListResponse>> {
        const { pageSize, pageToken, visibility, lifecycle, label, q } = request;
        const _queryParams: Record<string, unknown> = {
            pageSize,
            pageToken,
            visibility: Array.isArray(visibility)
                ? visibility.map((item) =>
                      serializers.AgentsVisibility.jsonOrThrow(item, {
                          unrecognizedObjectKeys: "strip",
                          omitUndefined: true,
                      }),
                  )
                : visibility != null
                  ? serializers.AgentsVisibility.jsonOrThrow(visibility, {
                        unrecognizedObjectKeys: "strip",
                        omitUndefined: true,
                    })
                  : undefined,
            lifecycle:
                lifecycle != null
                    ? serializers.AgentsLifecycle.jsonOrThrow(lifecycle, {
                          unrecognizedObjectKeys: "strip",
                          omitUndefined: true,
                      })
                    : undefined,
            label,
            q,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Tenant-Name": requestOptions?.tenantName ?? this._options?.tenantName }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).agents,
                "v2/agentic/agents",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.AgentsListResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Corti.BadRequestError(_response.error.body, _response.rawResponse);
                case 401:
                    throw new Corti.UnauthorizedError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.CortiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/agentic/agents");
    }

    /**
     * Creates a new agent. The server assigns the UUIDv7 `id`.
     *
     * @param {Corti.AgentsCreateRequest} request
     * @param {AgenticClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Corti.BadRequestError}
     * @throws {@link Corti.UnauthorizedError}
     * @throws {@link Corti.ForbiddenError}
     * @throws {@link Corti.ConflictError}
     * @throws {@link Corti.UnprocessableEntityError}
     *
     * @example
     *     await client.agentic.create({
     *         name: "coder",
     *         description: "Returns ICD-10 codes for a clinical encounter.",
     *         systemPrompt: "Respond with only the ICD-10 code.",
     *         model: "corti-default",
     *         visibility: "private",
     *         lifecycle: "persistent",
     *         connectors: [{
     *                 type: "registry",
     *                 name: "@dedalus/coding-expert"
     *             }, {
     *                 type: "mcp",
     *                 name: "policybot",
     *                 url: "https://mcp.example.com",
     *                 auth: {
     *                     type: "oauth2",
     *                     scope: "read:policies",
     *                     redirectUrl: "https://app.corti.ai/oauth/callback"
     *                 }
     *             }, {
     *                 type: "schema",
     *                 name: "submit_code",
     *                 description: "Submit the final ICD-10 code for the encounter along with a confidence score.",
     *                 schema: {
     *                     "type": "object",
     *                     "properties": {
     *                         "code": {
     *                             "type": "string",
     *                             "description": "The selected ICD-10 code."
     *                         },
     *                         "confidence": {
     *                             "type": "number",
     *                             "minimum": 0,
     *                             "maximum": 1
     *                         }
     *                     },
     *                     "required": [
     *                         "code"
     *                     ]
     *                 },
     *                 transition: "complete"
     *             }],
     *         labels: {
     *             "team": "coding",
     *             "env": "prod"
     *         }
     *     })
     */
    public create(
        request: Corti.AgentsCreateRequest,
        requestOptions?: AgenticClient.RequestOptions,
    ): core.HttpResponsePromise<Corti.AgentsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Corti.AgentsCreateRequest,
        requestOptions?: AgenticClient.RequestOptions,
    ): Promise<core.WithRawResponse<Corti.AgentsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Tenant-Name": requestOptions?.tenantName ?? this._options?.tenantName }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).agents,
                "v2/agentic/agents",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.AgentsCreateRequest.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.AgentsResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Corti.BadRequestError(_response.error.body, _response.rawResponse);
                case 401:
                    throw new Corti.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 403:
                    throw new Corti.ForbiddenError(_response.error.body, _response.rawResponse);
                case 409:
                    throw new Corti.ConflictError(_response.error.body, _response.rawResponse);
                case 422:
                    throw new Corti.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.CortiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/agentic/agents");
    }

    /**
     * @param {Corti.CommonAgentIdValue} agentId - Agent identifier (prefixed UUIDv7).
     * @param {AgenticClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Corti.UnauthorizedError}
     * @throws {@link Corti.ForbiddenError}
     * @throws {@link Corti.NotFoundError}
     *
     * @example
     *     await client.agentic.get("agt.0192f4c8-2c5a-7b3e-9f1a-3c8d6e2b7a40")
     */
    public get(
        agentId: Corti.CommonAgentIdValue,
        requestOptions?: AgenticClient.RequestOptions,
    ): core.HttpResponsePromise<Corti.AgentsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(agentId, requestOptions));
    }

    private async __get(
        agentId: Corti.CommonAgentIdValue,
        requestOptions?: AgenticClient.RequestOptions,
    ): Promise<core.WithRawResponse<Corti.AgentsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Tenant-Name": requestOptions?.tenantName ?? this._options?.tenantName }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).agents,
                `v2/agentic/agents/${core.url.encodePathParam(serializers.CommonAgentIdValue.jsonOrThrow(agentId, { omitUndefined: true }))}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.AgentsResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Corti.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 403:
                    throw new Corti.ForbiddenError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new Corti.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.CortiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/agentic/agents/{agentId}");
    }

    /**
     * Deletes a `persistent` agent. `ephemeral` agents are expired in place.
     * Idempotent: deleting an already-deleted agent returns `204`.
     *
     * @param {Corti.CommonAgentIdValue} agentId - Agent identifier (prefixed UUIDv7).
     * @param {AgenticClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Corti.UnauthorizedError}
     * @throws {@link Corti.ForbiddenError}
     * @throws {@link Corti.NotFoundError}
     *
     * @example
     *     await client.agentic.delete("agt.0192f4c8-2c5a-7b3e-9f1a-3c8d6e2b7a40")
     */
    public delete(
        agentId: Corti.CommonAgentIdValue,
        requestOptions?: AgenticClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(agentId, requestOptions));
    }

    private async __delete(
        agentId: Corti.CommonAgentIdValue,
        requestOptions?: AgenticClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Tenant-Name": requestOptions?.tenantName ?? this._options?.tenantName }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).agents,
                `v2/agentic/agents/${core.url.encodePathParam(serializers.CommonAgentIdValue.jsonOrThrow(agentId, { omitUndefined: true }))}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Corti.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 403:
                    throw new Corti.ForbiddenError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new Corti.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.CortiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v2/agentic/agents/{agentId}",
        );
    }

    /**
     * Partially updates an agent using JSON Merge Patch (RFC 7386).
     * Omitted fields are unchanged; `null` clears a field; arrays replace.
     *
     * @param {Corti.CommonAgentIdValue} agentId - Agent identifier (prefixed UUIDv7).
     * @param {Corti.AgentsPatchRequest} request
     * @param {AgenticClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Corti.BadRequestError}
     * @throws {@link Corti.UnauthorizedError}
     * @throws {@link Corti.ForbiddenError}
     * @throws {@link Corti.NotFoundError}
     * @throws {@link Corti.UnprocessableEntityError}
     *
     * @example
     *     await client.agentic.update("agt.0192f4c8-2c5a-7b3e-9f1a-3c8d6e2b7a40", {
     *         name: "coder-v2",
     *         connectors: [{
     *                 type: "registry",
     *                 name: "@dedalus/coding-expert"
     *             }]
     *     })
     */
    public update(
        agentId: Corti.CommonAgentIdValue,
        request: Corti.AgentsPatchRequest = {},
        requestOptions?: AgenticClient.RequestOptions,
    ): core.HttpResponsePromise<Corti.AgentsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(agentId, request, requestOptions));
    }

    private async __update(
        agentId: Corti.CommonAgentIdValue,
        request: Corti.AgentsPatchRequest = {},
        requestOptions?: AgenticClient.RequestOptions,
    ): Promise<core.WithRawResponse<Corti.AgentsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Tenant-Name": requestOptions?.tenantName ?? this._options?.tenantName }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).agents,
                `v2/agentic/agents/${core.url.encodePathParam(serializers.CommonAgentIdValue.jsonOrThrow(agentId, { omitUndefined: true }))}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/merge-patch+json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.AgentsPatchRequest.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.AgentsResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Corti.BadRequestError(_response.error.body, _response.rawResponse);
                case 401:
                    throw new Corti.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 403:
                    throw new Corti.ForbiddenError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new Corti.NotFoundError(_response.error.body, _response.rawResponse);
                case 422:
                    throw new Corti.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.CortiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/v2/agentic/agents/{agentId}",
        );
    }

    /**
     * Returns the A2A v1.0 agent card describing the agent's capabilities,
     * skills, and supported protocol interfaces. Served at the standard
     * `.well-known` location for agent discovery.
     *
     * @param {Corti.CommonAgentIdValue} agentId - Agent identifier (prefixed UUIDv7).
     * @param {AgenticClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Corti.UnauthorizedError}
     * @throws {@link Corti.NotFoundError}
     *
     * @example
     *     await client.agentic.getCard("agt.0192f4c8-2c5a-7b3e-9f1a-3c8d6e2b7a40")
     */
    public getCard(
        agentId: Corti.CommonAgentIdValue,
        requestOptions?: AgenticClient.RequestOptions,
    ): core.HttpResponsePromise<Corti.AgentCardResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getCard(agentId, requestOptions));
    }

    private async __getCard(
        agentId: Corti.CommonAgentIdValue,
        requestOptions?: AgenticClient.RequestOptions,
    ): Promise<core.WithRawResponse<Corti.AgentCardResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Tenant-Name": requestOptions?.tenantName ?? this._options?.tenantName }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).agents,
                `v2/agentic/agents/${core.url.encodePathParam(serializers.CommonAgentIdValue.jsonOrThrow(agentId, { omitUndefined: true }))}/.well-known/agent-card.json`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.AgentCardResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Corti.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new Corti.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.CortiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v2/agentic/agents/{agentId}/.well-known/agent-card.json",
        );
    }
}
