// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as serializers from "../../../../../../serialization/index.js";
import * as Corti from "../../../../../index.js";
import { TasksClient } from "../resources/tasks/client/Client.js";

export declare namespace ContextsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ContextsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ContextsClient.Options>;
    protected _tasks: TasksClient | undefined;

    constructor(options: ContextsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get tasks(): TasksClient {
        return (this._tasks ??= new TasksClient(this._options));
    }

    /**
     * Lists contexts matching the filters.
     * **Future scope**: not yet implemented; the server currently returns an empty page and ignores all parameters.
     *
     * @param {Corti.agentic.ListContextsRequest} request
     * @param {ContextsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Corti.UnauthorizedError}
     *
     * @example
     *     await client.agentic.contexts.list()
     */
    public async list(
        request: Corti.agentic.ListContextsRequest = {},
        requestOptions?: ContextsClient.RequestOptions,
    ): Promise<core.Page<Corti.Contexts, Corti.ContextsListResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: Corti.agentic.ListContextsRequest,
            ): Promise<core.WithRawResponse<Corti.ContextsListResponse>> => {
                const { agentId, from: from_, to, pageSize, pageToken } = request;
                const _queryParams: Record<string, unknown> = {
                    agentId,
                    from: from_ != null ? from_?.toISOString() : undefined,
                    to: to != null ? to?.toISOString() : undefined,
                    pageSize,
                    pageToken,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    mergeOnlyDefinedHeaders({ "Tenant-Name": requestOptions?.tenantName ?? this._options?.tenantName }),
                    requestOptions?.headers,
                );
                const _response = await core.fetcher({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)).agents,
                        "v2/agentic/contexts",
                    ),
                    method: "GET",
                    headers: _headers,
                    queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: serializers.ContextsListResponse.parseOrThrow(_response.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 401:
                            throw new Corti.UnauthorizedError(_response.error.body, _response.rawResponse);
                        default:
                            throw new errors.CortiError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/agentic/contexts");
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<Corti.Contexts, Corti.ContextsListResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.nextPageToken != null &&
                !(typeof response?.nextPageToken === "string" && response?.nextPageToken === ""),
            getItems: (response) => response?.contexts ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "pageToken", response?.nextPageToken));
            },
        });
    }

    /**
     * Returns the context's metadata together with its `tasks`, oldest first.
     * Each task carries its full message `history`; the user's prompt for a
     * task is the `ROLE_USER` message within that task's history (there is no
     * separate top-level message list).
     *
     * @param {Corti.CommonContextIdValue} contextId - Context identifier (prefixed UUIDv7).
     * @param {Corti.agentic.GetContextsRequest} request
     * @param {ContextsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Corti.UnauthorizedError}
     * @throws {@link Corti.NotFoundError}
     *
     * @example
     *     await client.agentic.contexts.get("ctx.0192f4c8-3d6b-7c4f-a02b-4d9e7f3c8b51")
     */
    public get(
        contextId: Corti.CommonContextIdValue,
        request: Corti.agentic.GetContextsRequest = {},
        requestOptions?: ContextsClient.RequestOptions,
    ): core.HttpResponsePromise<Corti.ContextsDetailResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(contextId, request, requestOptions));
    }

    private async __get(
        contextId: Corti.CommonContextIdValue,
        request: Corti.agentic.GetContextsRequest = {},
        requestOptions?: ContextsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Corti.ContextsDetailResponse>> {
        const { historyLength } = request;
        const _queryParams: Record<string, unknown> = {
            historyLength,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Tenant-Name": requestOptions?.tenantName ?? this._options?.tenantName }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).agents,
                `v2/agentic/contexts/${core.url.encodePathParam(serializers.CommonContextIdValue.jsonOrThrow(contextId, { omitUndefined: true }))}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.ContextsDetailResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Corti.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new Corti.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.CortiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v2/agentic/contexts/{contextId}",
        );
    }

    /**
     * @param {Corti.CommonContextIdValue} contextId - Context identifier (prefixed UUIDv7).
     * @param {ContextsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Corti.UnauthorizedError}
     * @throws {@link Corti.NotFoundError}
     *
     * @example
     *     await client.agentic.contexts.delete("ctx.0192f4c8-3d6b-7c4f-a02b-4d9e7f3c8b51")
     */
    public delete(
        contextId: Corti.CommonContextIdValue,
        requestOptions?: ContextsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(contextId, requestOptions));
    }

    private async __delete(
        contextId: Corti.CommonContextIdValue,
        requestOptions?: ContextsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Tenant-Name": requestOptions?.tenantName ?? this._options?.tenantName }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).agents,
                `v2/agentic/contexts/${core.url.encodePathParam(serializers.CommonContextIdValue.jsonOrThrow(contextId, { omitUndefined: true }))}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Corti.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new Corti.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.CortiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v2/agentic/contexts/{contextId}",
        );
    }

    /**
     * Returns the execution traces for the context — LLM calls, tool
     * executions, and token usage — in OpenInference format. Traces are
     * ordered newest-first and paginated; each page returns up to `pageSize`
     * traces with their spans inlined.
     *
     * @param {Corti.CommonContextIdValue} contextId - Context identifier (prefixed UUIDv7).
     * @param {Corti.agentic.GetTraceContextsRequest} request
     * @param {ContextsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Corti.BadRequestError}
     * @throws {@link Corti.UnauthorizedError}
     * @throws {@link Corti.NotFoundError}
     *
     * @example
     *     await client.agentic.contexts.getTrace("ctx.0192f4c8-3d6b-7c4f-a02b-4d9e7f3c8b51")
     */
    public async getTrace(
        contextId: Corti.CommonContextIdValue,
        request: Corti.agentic.GetTraceContextsRequest = {},
        requestOptions?: ContextsClient.RequestOptions,
    ): Promise<core.Page<Corti.ContextsTraceItem, Corti.ContextsTraceResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: Corti.agentic.GetTraceContextsRequest,
            ): Promise<core.WithRawResponse<Corti.ContextsTraceResponse>> => {
                const { pageSize, pageToken } = request;
                const _queryParams: Record<string, unknown> = {
                    pageSize,
                    pageToken,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    mergeOnlyDefinedHeaders({ "Tenant-Name": requestOptions?.tenantName ?? this._options?.tenantName }),
                    requestOptions?.headers,
                );
                const _response = await core.fetcher({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)).agents,
                        `v2/agentic/contexts/${core.url.encodePathParam(serializers.CommonContextIdValue.jsonOrThrow(contextId, { omitUndefined: true }))}/trace`,
                    ),
                    method: "GET",
                    headers: _headers,
                    queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: serializers.ContextsTraceResponse.parseOrThrow(_response.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 400:
                            throw new Corti.BadRequestError(_response.error.body, _response.rawResponse);
                        case 401:
                            throw new Corti.UnauthorizedError(_response.error.body, _response.rawResponse);
                        case 404:
                            throw new Corti.NotFoundError(_response.error.body, _response.rawResponse);
                        default:
                            throw new errors.CortiError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/v2/agentic/contexts/{contextId}/trace",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<Corti.ContextsTraceItem, Corti.ContextsTraceResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.nextPageToken != null &&
                !(typeof response?.nextPageToken === "string" && response?.nextPageToken === ""),
            getItems: (response) => response?.traces ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "pageToken", response?.nextPageToken));
            },
        });
    }
}
