// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    type NormalizedClientOptionsWithAuth,
    normalizeClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../../../core/headers.js";
import * as core from "../../../../../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import * as serializers from "../../../../../../../../serialization/index.js";
import * as Corti from "../../../../../../../index.js";

export declare namespace ConnectorsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ConnectorsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ConnectorsClient.Options>;

    constructor(options: ConnectorsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * @param {Corti.CommonAgentIdValue} agentId - Agent identifier (prefixed UUIDv7).
     * @param {ConnectorsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Corti.UnauthorizedError}
     * @throws {@link Corti.NotFoundError}
     *
     * @example
     *     await client.agentic.agents.connectors.list("agt.0192f4c8-2c5a-7b3e-9f1a-3c8d6e2b7a40")
     */
    public list(
        agentId: Corti.CommonAgentIdValue,
        requestOptions?: ConnectorsClient.RequestOptions,
    ): core.HttpResponsePromise<Corti.AgenticConnectorsListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(agentId, requestOptions));
    }

    private async __list(
        agentId: Corti.CommonAgentIdValue,
        requestOptions?: ConnectorsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Corti.AgenticConnectorsListResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Tenant-Name": requestOptions?.tenantName ?? this._options?.tenantName }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).base,
                `agentic/agents/${core.url.encodePathParam(serializers.CommonAgentIdValue.jsonOrThrow(agentId, { omitUndefined: true }))}/connectors`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.AgenticConnectorsListResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Corti.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new Corti.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.CortiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/agentic/agents/{agentId}/connectors",
        );
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * @param {Corti.CommonAgentIdValue} agentId - Agent identifier (prefixed UUIDv7).
     * @param {Corti.CommonConnectorCreateRequest} request
     * @param {ConnectorsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Corti.BadRequestError}
     * @throws {@link Corti.UnauthorizedError}
     * @throws {@link Corti.NotFoundError}
     * @throws {@link Corti.ConflictError}
     *
     * @example
     *     await client.agentic.agents.connectors.create("agt.0192f4c8-2c5a-7b3e-9f1a-3c8d6e2b7a40", {
     *         type: "registry",
     *         name: "pubmed-expert"
     *     })
     */
    public create(
        agentId: Corti.CommonAgentIdValue,
        request: Corti.CommonConnectorCreateRequest,
        requestOptions?: ConnectorsClient.RequestOptions,
    ): core.HttpResponsePromise<Corti.CommonConnectorResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(agentId, request, requestOptions));
    }

    private async __create(
        agentId: Corti.CommonAgentIdValue,
        request: Corti.CommonConnectorCreateRequest,
        requestOptions?: ConnectorsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Corti.CommonConnectorResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Tenant-Name": requestOptions?.tenantName ?? this._options?.tenantName }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).base,
                `agentic/agents/${core.url.encodePathParam(serializers.CommonAgentIdValue.jsonOrThrow(agentId, { omitUndefined: true }))}/connectors`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.CommonConnectorCreateRequest.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.CommonConnectorResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Corti.BadRequestError(_response.error.body, _response.rawResponse);
                case 401:
                    throw new Corti.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new Corti.NotFoundError(_response.error.body, _response.rawResponse);
                case 409:
                    throw new Corti.ConflictError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.CortiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/agentic/agents/{agentId}/connectors",
        );
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * @param {Corti.CommonAgentIdValue} agentId - Agent identifier (prefixed UUIDv7).
     * @param {Corti.CommonConnectorIdValue} agentConnectorId - Agent-scoped connector identifier (prefixed UUIDv7).
     * @param {ConnectorsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Corti.UnauthorizedError}
     * @throws {@link Corti.NotFoundError}
     *
     * @example
     *     await client.agentic.agents.connectors.get("agt.0192f4c8-2c5a-7b3e-9f1a-3c8d6e2b7a40", "con.0192f4c8-7baf-7083-a46f-81d2bd70cf95")
     */
    public get(
        agentId: Corti.CommonAgentIdValue,
        agentConnectorId: Corti.CommonConnectorIdValue,
        requestOptions?: ConnectorsClient.RequestOptions,
    ): core.HttpResponsePromise<Corti.CommonConnectorResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(agentId, agentConnectorId, requestOptions));
    }

    private async __get(
        agentId: Corti.CommonAgentIdValue,
        agentConnectorId: Corti.CommonConnectorIdValue,
        requestOptions?: ConnectorsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Corti.CommonConnectorResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Tenant-Name": requestOptions?.tenantName ?? this._options?.tenantName }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).base,
                `agentic/agents/${core.url.encodePathParam(serializers.CommonAgentIdValue.jsonOrThrow(agentId, { omitUndefined: true }))}/connectors/${core.url.encodePathParam(serializers.CommonConnectorIdValue.jsonOrThrow(agentConnectorId, { omitUndefined: true }))}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.CommonConnectorResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Corti.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new Corti.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.CortiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/agentic/agents/{agentId}/connectors/{agentConnectorId}",
        );
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * @param {Corti.CommonAgentIdValue} agentId - Agent identifier (prefixed UUIDv7).
     * @param {Corti.CommonConnectorIdValue} agentConnectorId - Agent-scoped connector identifier (prefixed UUIDv7).
     * @param {ConnectorsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Corti.UnauthorizedError}
     * @throws {@link Corti.NotFoundError}
     *
     * @example
     *     await client.agentic.agents.connectors.delete("agt.0192f4c8-2c5a-7b3e-9f1a-3c8d6e2b7a40", "con.0192f4c8-7baf-7083-a46f-81d2bd70cf95")
     */
    public delete(
        agentId: Corti.CommonAgentIdValue,
        agentConnectorId: Corti.CommonConnectorIdValue,
        requestOptions?: ConnectorsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(agentId, agentConnectorId, requestOptions));
    }

    private async __delete(
        agentId: Corti.CommonAgentIdValue,
        agentConnectorId: Corti.CommonConnectorIdValue,
        requestOptions?: ConnectorsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Tenant-Name": requestOptions?.tenantName ?? this._options?.tenantName }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).base,
                `agentic/agents/${core.url.encodePathParam(serializers.CommonAgentIdValue.jsonOrThrow(agentId, { omitUndefined: true }))}/connectors/${core.url.encodePathParam(serializers.CommonConnectorIdValue.jsonOrThrow(agentConnectorId, { omitUndefined: true }))}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Corti.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new Corti.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.CortiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/agentic/agents/{agentId}/connectors/{agentConnectorId}",
        );
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * Partially updates an agent-scoped connector using JSON Merge Patch
     * (RFC 7386). `type` is immutable.
     * **Future scope**:  not yet implemented; the server returns `501`.
     *
     * @param {Corti.CommonAgentIdValue} agentId - Agent identifier (prefixed UUIDv7).
     * @param {Corti.CommonConnectorIdValue} agentConnectorId - Agent-scoped connector identifier (prefixed UUIDv7).
     * @param {Corti.agentic.agents.AgenticConnectorsPatchRequest} request
     * @param {ConnectorsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Corti.BadRequestError}
     * @throws {@link Corti.UnauthorizedError}
     * @throws {@link Corti.NotFoundError}
     * @throws {@link Corti.NotImplementedError}
     *
     * @example
     *     await client.agentic.agents.connectors.update("agt.0192f4c8-2c5a-7b3e-9f1a-3c8d6e2b7a40", "con.0192f4c8-7baf-7083-a46f-81d2bd70cf95", {
     *         enabled: false
     *     })
     */
    public update(
        agentId: Corti.CommonAgentIdValue,
        agentConnectorId: Corti.CommonConnectorIdValue,
        request: Corti.agentic.agents.AgenticConnectorsPatchRequest = {},
        requestOptions?: ConnectorsClient.RequestOptions,
    ): core.HttpResponsePromise<Corti.CommonConnectorResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(agentId, agentConnectorId, request, requestOptions));
    }

    private async __update(
        agentId: Corti.CommonAgentIdValue,
        agentConnectorId: Corti.CommonConnectorIdValue,
        request: Corti.agentic.agents.AgenticConnectorsPatchRequest = {},
        requestOptions?: ConnectorsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Corti.CommonConnectorResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Tenant-Name": requestOptions?.tenantName ?? this._options?.tenantName }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).base,
                `agentic/agents/${core.url.encodePathParam(serializers.CommonAgentIdValue.jsonOrThrow(agentId, { omitUndefined: true }))}/connectors/${core.url.encodePathParam(serializers.CommonConnectorIdValue.jsonOrThrow(agentConnectorId, { omitUndefined: true }))}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/merge-patch+json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.agentic.agents.AgenticConnectorsPatchRequest.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.CommonConnectorResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Corti.BadRequestError(_response.error.body, _response.rawResponse);
                case 401:
                    throw new Corti.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new Corti.NotFoundError(_response.error.body, _response.rawResponse);
                case 501:
                    throw new Corti.NotImplementedError(
                        serializers.CommonErrorResponse.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CortiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/agentic/agents/{agentId}/connectors/{agentConnectorId}",
        );
    }
}
