// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    type NormalizedClientOptionsWithAuth,
    normalizeClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../../../../../core/headers.js";
import * as core from "../../../../../../../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import * as serializers from "../../../../../../../../../../serialization/index.js";
import * as Corti from "../../../../../../../../../index.js";

export declare namespace ArtifactsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ArtifactsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ArtifactsClient.Options>;

    constructor(options: ArtifactsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * Returns an artifact produced by a task within a context. File parts may
     * carry inline `bytes` or a `uri` to fetch the content out of band.
     *
     * @param {Corti.CommonContextIdValue} contextId - Context identifier (prefixed UUIDv7).
     * @param {Corti.CommonTaskIdValue} taskId - Task identifier (prefixed UUIDv7).
     * @param {Corti.CommonArtifactIdValue} artifactId - Artifact identifier (prefixed UUIDv7).
     * @param {ArtifactsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Corti.UnauthorizedError}
     * @throws {@link Corti.ForbiddenError}
     * @throws {@link Corti.NotFoundError}
     *
     * @example
     *     await client.agentic.contexts.tasks.artifacts.get("ctx.0192f4c8-3d6b-7c4f-a02b-4d9e7f3c8b51", "task.0192f4c8-4e7c-7d50-b13c-5eaf8a4d9c62", "art.0192f4c8-6a9e-7f72-a35e-70c1ac6fbe84")
     */
    public get(
        contextId: Corti.CommonContextIdValue,
        taskId: Corti.CommonTaskIdValue,
        artifactId: Corti.CommonArtifactIdValue,
        requestOptions?: ArtifactsClient.RequestOptions,
    ): core.HttpResponsePromise<Corti.CommonArtifactResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(contextId, taskId, artifactId, requestOptions));
    }

    private async __get(
        contextId: Corti.CommonContextIdValue,
        taskId: Corti.CommonTaskIdValue,
        artifactId: Corti.CommonArtifactIdValue,
        requestOptions?: ArtifactsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Corti.CommonArtifactResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Tenant-Name": requestOptions?.tenantName ?? this._options?.tenantName }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).base,
                `agentic/contexts/${core.url.encodePathParam(serializers.CommonContextIdValue.jsonOrThrow(contextId, { omitUndefined: true }))}/tasks/${core.url.encodePathParam(serializers.CommonTaskIdValue.jsonOrThrow(taskId, { omitUndefined: true }))}/artifacts/${core.url.encodePathParam(serializers.CommonArtifactIdValue.jsonOrThrow(artifactId, { omitUndefined: true }))}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.CommonArtifactResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Corti.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 403:
                    throw new Corti.ForbiddenError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new Corti.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.CortiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/agentic/contexts/{contextId}/tasks/{taskId}/artifacts/{artifactId}",
        );
    }
}
