// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../../../BaseClient.js";
import {
    type NormalizedClientOptionsWithAuth,
    normalizeClientOptionsWithAuth,
} from "../../../../../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../../../../../core/headers.js";
import * as core from "../../../../../../../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../../../errors/index.js";
import * as serializers from "../../../../../../../../../../serialization/index.js";
import * as Corti from "../../../../../../../../../index.js";

export declare namespace FeedbackClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class FeedbackClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<FeedbackClient.Options>;

    constructor(options: FeedbackClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * Returns all feedback resources submitted for the task by the authenticated user, newest-first. The task must exist, belong to the supplied context, and belong to the authenticated customer. Feedback is scoped to the calling user via row-level security, so the response contains only that user's feedback.
     *
     * @param {Corti.CommonContextIdValue} contextId - Context identifier (prefixed UUIDv7).
     * @param {Corti.CommonTaskIdValue} taskId - Task identifier (prefixed UUIDv7).
     * @param {FeedbackClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Corti.UnauthorizedError}
     * @throws {@link Corti.NotFoundError}
     *
     * @example
     *     await client.agentic.contexts.tasks.feedback.list("ctx.0192f4c8-3d6b-7c4f-a02b-4d9e7f3c8b51", "task.0192f4c8-4e7c-7d50-b13c-5eaf8a4d9c62")
     */
    public list(
        contextId: Corti.CommonContextIdValue,
        taskId: Corti.CommonTaskIdValue,
        requestOptions?: FeedbackClient.RequestOptions,
    ): core.HttpResponsePromise<Corti.AgenticFeedbackListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(contextId, taskId, requestOptions));
    }

    private async __list(
        contextId: Corti.CommonContextIdValue,
        taskId: Corti.CommonTaskIdValue,
        requestOptions?: FeedbackClient.RequestOptions,
    ): Promise<core.WithRawResponse<Corti.AgenticFeedbackListResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Tenant-Name": requestOptions?.tenantName ?? this._options?.tenantName }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).base,
                `agentic/contexts/${core.url.encodePathParam(serializers.CommonContextIdValue.jsonOrThrow(contextId, { omitUndefined: true }))}/tasks/${core.url.encodePathParam(serializers.CommonTaskIdValue.jsonOrThrow(taskId, { omitUndefined: true }))}/feedback`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.AgenticFeedbackListResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Corti.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new Corti.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.CortiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/agentic/contexts/{contextId}/tasks/{taskId}/feedback",
        );
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * Submits feedback about a task as a whole or about a specific user-visible
     * message within the task. The task must exist, belong to the supplied
     * context, and belong to the authenticated customer. Multiple feedback
     * resources may be submitted for the same task or message.
     *
     * @param {Corti.CommonContextIdValue} contextId - Context identifier (prefixed UUIDv7).
     * @param {Corti.CommonTaskIdValue} taskId - Task identifier (prefixed UUIDv7).
     * @param {Corti.agentic.contexts.tasks.AgenticFeedbackCreateRequest} request
     * @param {FeedbackClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Corti.BadRequestError}
     * @throws {@link Corti.UnauthorizedError}
     * @throws {@link Corti.NotFoundError}
     * @throws {@link Corti.UnprocessableEntityError}
     *
     * @example
     *     await client.agentic.contexts.tasks.feedback.create("ctx.0192f4c8-3d6b-7c4f-a02b-4d9e7f3c8b51", "task.0192f4c8-4e7c-7d50-b13c-5eaf8a4d9c62", {
     *         rating: {
     *             scale: "binary",
     *             value: 1
     *         }
     *     })
     *
     * @example
     *     await client.agentic.contexts.tasks.feedback.create("ctx.0192f4c8-3d6b-7c4f-a02b-4d9e7f3c8b51", "task.0192f4c8-4e7c-7d50-b13c-5eaf8a4d9c62", {
     *         rating: {
     *             scale: "binary",
     *             value: 0
     *         },
     *         labels: ["unsupportedClaim"],
     *         reason: "The response stated that the patient had diabetes, but this was not present in the available data.",
     *         target: {
     *             messageId: "msg.0192f4c8-5f8d-7e61-924d-6fb09b5ead73"
     *         },
     *         metadata: {
     *             collectionMethod: "caseReview",
     *             clientReference: "case-review-728193",
     *             actor: {
     *                 externalId: "clinician_4182"
     *             }
     *         }
     *     })
     */
    public create(
        contextId: Corti.CommonContextIdValue,
        taskId: Corti.CommonTaskIdValue,
        request: Corti.agentic.contexts.tasks.AgenticFeedbackCreateRequest,
        requestOptions?: FeedbackClient.RequestOptions,
    ): core.HttpResponsePromise<Corti.AgenticFeedbackResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(contextId, taskId, request, requestOptions));
    }

    private async __create(
        contextId: Corti.CommonContextIdValue,
        taskId: Corti.CommonTaskIdValue,
        request: Corti.agentic.contexts.tasks.AgenticFeedbackCreateRequest,
        requestOptions?: FeedbackClient.RequestOptions,
    ): Promise<core.WithRawResponse<Corti.AgenticFeedbackResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Tenant-Name": requestOptions?.tenantName ?? this._options?.tenantName }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).base,
                `agentic/contexts/${core.url.encodePathParam(serializers.CommonContextIdValue.jsonOrThrow(contextId, { omitUndefined: true }))}/tasks/${core.url.encodePathParam(serializers.CommonTaskIdValue.jsonOrThrow(taskId, { omitUndefined: true }))}/feedback`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.agentic.contexts.tasks.AgenticFeedbackCreateRequest.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.AgenticFeedbackResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Corti.BadRequestError(_response.error.body, _response.rawResponse);
                case 401:
                    throw new Corti.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new Corti.NotFoundError(_response.error.body, _response.rawResponse);
                case 422:
                    throw new Corti.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.CortiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/agentic/contexts/{contextId}/tasks/{taskId}/feedback",
        );
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * Soft-deletes a single feedback resource the authenticated user submitted for the task. The task must exist, belong to the supplied context, and belong to the authenticated customer. Idempotent: deleting a feedback resource that does not exist (or has already been deleted) returns `204`.
     *
     * @param {Corti.CommonContextIdValue} contextId - Context identifier (prefixed UUIDv7).
     * @param {Corti.CommonTaskIdValue} taskId - Task identifier (prefixed UUIDv7).
     * @param {Corti.AgenticFeedbackIdValue} feedbackId - Feedback identifier (prefixed UUIDv7).
     * @param {FeedbackClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Corti.UnauthorizedError}
     * @throws {@link Corti.NotFoundError}
     *
     * @example
     *     await client.agentic.contexts.tasks.feedback.delete("ctx.0192f4c8-3d6b-7c4f-a02b-4d9e7f3c8b51", "task.0192f4c8-4e7c-7d50-b13c-5eaf8a4d9c62", "fb.0192f4c8-7e2a-7b3c-9d4e-5f6a7b8c9d01")
     */
    public delete(
        contextId: Corti.CommonContextIdValue,
        taskId: Corti.CommonTaskIdValue,
        feedbackId: Corti.AgenticFeedbackIdValue,
        requestOptions?: FeedbackClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(contextId, taskId, feedbackId, requestOptions));
    }

    private async __delete(
        contextId: Corti.CommonContextIdValue,
        taskId: Corti.CommonTaskIdValue,
        feedbackId: Corti.AgenticFeedbackIdValue,
        requestOptions?: FeedbackClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Tenant-Name": requestOptions?.tenantName ?? this._options?.tenantName }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).base,
                `agentic/contexts/${core.url.encodePathParam(serializers.CommonContextIdValue.jsonOrThrow(contextId, { omitUndefined: true }))}/tasks/${core.url.encodePathParam(serializers.CommonTaskIdValue.jsonOrThrow(taskId, { omitUndefined: true }))}/feedback/${core.url.encodePathParam(serializers.AgenticFeedbackIdValue.jsonOrThrow(feedbackId, { omitUndefined: true }))}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Corti.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new Corti.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.CortiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/agentic/contexts/{contextId}/tasks/{taskId}/feedback/{feedbackId}",
        );
    }
}
