// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import * as core from "../../../../core/index.js";
import { StreamSocket } from "./Socket.js";

export declare namespace StreamClient {
    export type Options = BaseClientOptions;

    export interface ConnectArgs {
        id: string;
        tenantName: string;
        token: string;
        /** Additional query parameters to send with the websocket connect request. */
        queryParams?: Record<string, unknown>;
        /** Arbitrary headers to send with the websocket connect request. */
        headers?: Record<string, string>;
        /** Enable debug mode on the websocket. Defaults to false. */
        debug?: boolean;
        /** Number of reconnect attempts. Defaults to 30. */
        reconnectAttempts?: number;
        /** The timeout for establishing the WebSocket connection in seconds. */
        connectionTimeoutInSeconds?: number;
        /** A signal to abort the WebSocket connection. */
        abortSignal?: AbortSignal;
    }
}

export class StreamClient {
    protected readonly _options: NormalizedClientOptions<StreamClient.Options>;

    constructor(options: StreamClient.Options) {
        this._options = normalizeClientOptions(options);
    }

    public async connect(args: StreamClient.ConnectArgs): Promise<StreamSocket> {
        const {
            id,
            tenantName,
            token,
            queryParams,
            headers,
            debug,
            reconnectAttempts,
            connectionTimeoutInSeconds,
            abortSignal,
        } = args;
        const _queryParams: Record<string, unknown> = {
            "tenant-name": tenantName,
            token,
        };
        const _headers: Record<string, unknown> = { ...headers };
        const socket = new core.ReconnectingWebSocket({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).wss,
                `/interactions/${core.url.encodePathParam(id)}/streams`,
            ),
            protocols: [],
            queryParameters: { ..._queryParams, ...queryParams },
            headers: _headers,
            options: {
                debug: debug ?? false,
                maxRetries: reconnectAttempts ?? 30,
                connectionTimeout: connectionTimeoutInSeconds != null ? connectionTimeoutInSeconds * 1000 : undefined,
            },
            abortSignal: abortSignal,
        });
        return new StreamSocket({ socket });
    }
}
