// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as serializers from "../../../../../../serialization/index.js";
import * as Corti from "../../../../../index.js";
import { VersionsClient } from "../resources/versions/client/Client.js";

export declare namespace SectionsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SectionsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SectionsClient.Options>;
    protected _versions: VersionsClient | undefined;

    constructor(options: SectionsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get versions(): VersionsClient {
        return (this._versions ??= new VersionsClient(this._options));
    }

    /**
     * Returns a list of sections and their metadata. Fetch a sectionId to get the full generation content.
     * Use query parameters to filter by language, region, specialty, label, publish status, or source.
     *
     * @param {Corti.documents.GuidedSectionsListRequest} request
     * @param {SectionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.documents.sections.list({
     *         tenantName: "base"
     *     })
     */
    public list(
        request: Corti.documents.GuidedSectionsListRequest,
        requestOptions?: SectionsClient.RequestOptions,
    ): core.HttpResponsePromise<Corti.GuidedSectionListItem[]> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: Corti.documents.GuidedSectionsListRequest,
        requestOptions?: SectionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Corti.GuidedSectionListItem[]>> {
        const { lang, region, specialty, label, published, source, tenantName } = request;
        const _queryParams: Record<string, unknown> = {
            lang,
            region,
            specialty,
            label,
            published,
            source:
                source != null
                    ? serializers.GuidedSourceFilter.jsonOrThrow(source, {
                          unrecognizedObjectKeys: "strip",
                          omitUndefined: true,
                      })
                    : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Tenant-Name": tenantName }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).base,
                "documents/sections/",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.documents.sections.list.Response.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CortiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/documents/sections/");
    }

    /**
     * Creates a new section with an initial version. When `publish` is true (default),
     * the response includes the published version with full inheritance resolution applied
     * (section inheritance chain walked to fill missing fields).
     *
     * @param {Corti.documents.CreateSectionsRequest} request
     * @param {SectionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Corti.BadRequestError}
     *
     * @example
     *     await client.documents.sections.create({
     *         tenantName: "base",
     *         body: {
     *             name: "name",
     *             inheritFromId: "inheritFromId"
     *         }
     *     })
     */
    public create(
        request: Corti.documents.CreateSectionsRequest,
        requestOptions?: SectionsClient.RequestOptions,
    ): core.HttpResponsePromise<Corti.GuidedSection> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Corti.documents.CreateSectionsRequest,
        requestOptions?: SectionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Corti.GuidedSection>> {
        const { tenantName, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Tenant-Name": tenantName }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).base,
                "documents/sections/",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.GuidedSectionsCreateRequest.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.GuidedSection.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Corti.BadRequestError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.CortiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/documents/sections/");
    }

    /**
     * Returns the section with its published version fully resolved (inheritance chain walked
     * to fill missing fields). To see raw authored values without inheritance, use
     * GET /documents/sections/{sectionID}/versions/{versionID}.
     *
     * @param {string} sectionID
     * @param {Corti.documents.GetSectionsRequest} request
     * @param {SectionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Corti.NotFoundError}
     *
     * @example
     *     await client.documents.sections.get("sectionID", {
     *         tenantName: "base"
     *     })
     */
    public get(
        sectionID: string,
        request: Corti.documents.GetSectionsRequest,
        requestOptions?: SectionsClient.RequestOptions,
    ): core.HttpResponsePromise<Corti.GuidedSection> {
        return core.HttpResponsePromise.fromPromise(this.__get(sectionID, request, requestOptions));
    }

    private async __get(
        sectionID: string,
        request: Corti.documents.GetSectionsRequest,
        requestOptions?: SectionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Corti.GuidedSection>> {
        const { tenantName } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Tenant-Name": tenantName }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).base,
                `documents/sections/${core.url.encodePathParam(sectionID)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.GuidedSection.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Corti.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.CortiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/documents/sections/{sectionID}",
        );
    }

    /**
     * Deletes a section and its versions. Returns 409 if other sections inherit from this section.
     *
     * @param {string} sectionID
     * @param {Corti.documents.DeleteSectionsRequest} request
     * @param {SectionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Corti.NotFoundError}
     * @throws {@link Corti.ConflictError}
     *
     * @example
     *     await client.documents.sections.delete("sectionID", {
     *         tenantName: "base"
     *     })
     */
    public delete(
        sectionID: string,
        request: Corti.documents.DeleteSectionsRequest,
        requestOptions?: SectionsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(sectionID, request, requestOptions));
    }

    private async __delete(
        sectionID: string,
        request: Corti.documents.DeleteSectionsRequest,
        requestOptions?: SectionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { tenantName } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Tenant-Name": tenantName }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).base,
                `documents/sections/${core.url.encodePathParam(sectionID)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new Corti.NotFoundError(_response.error.body, _response.rawResponse);
                case 409:
                    throw new Corti.ConflictError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.CortiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/documents/sections/{sectionID}",
        );
    }

    /**
     * Updates the section's metadata fields (name, description, languages, regions, specialties, labels).
     * Generation content (instructions, output schema) is managed through versions and cannot be updated here.
     *
     * @param {string} sectionID
     * @param {Corti.documents.GuidedSectionsUpdateRequest} request
     * @param {SectionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Corti.BadRequestError}
     * @throws {@link Corti.NotFoundError}
     *
     * @example
     *     await client.documents.sections.update("sectionID", {
     *         tenantName: "base"
     *     })
     */
    public update(
        sectionID: string,
        request: Corti.documents.GuidedSectionsUpdateRequest,
        requestOptions?: SectionsClient.RequestOptions,
    ): core.HttpResponsePromise<Corti.GuidedSection> {
        return core.HttpResponsePromise.fromPromise(this.__update(sectionID, request, requestOptions));
    }

    private async __update(
        sectionID: string,
        request: Corti.documents.GuidedSectionsUpdateRequest,
        requestOptions?: SectionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Corti.GuidedSection>> {
        const { tenantName, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Tenant-Name": tenantName }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).base,
                `documents/sections/${core.url.encodePathParam(sectionID)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.documents.GuidedSectionsUpdateRequest.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.GuidedSection.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Corti.BadRequestError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new Corti.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.CortiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/documents/sections/{sectionID}",
        );
    }
}
