// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    type NormalizedClientOptionsWithAuth,
    normalizeClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../../../core/headers.js";
import * as core from "../../../../../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import * as serializers from "../../../../../../../../serialization/index.js";
import * as Corti from "../../../../../../../index.js";

export declare namespace TasksClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TasksClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TasksClient.Options>;

    constructor(options: TasksClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * @param {Corti.CommonAgentIdValue} agentId - Agent identifier (prefixed UUIDv7).
     * @param {Corti.agentic.agents.AgenticAgentsA2ATasksListRequest} request
     * @param {TasksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Corti.UnauthorizedError}
     *
     * @example
     *     await client.agentic.agents.tasks.list("agt.0192f4c8-2c5a-7b3e-9f1a-3c8d6e2b7a40")
     */
    public async list(
        agentId: Corti.CommonAgentIdValue,
        request: Corti.agentic.agents.AgenticAgentsA2ATasksListRequest = {},
        requestOptions?: TasksClient.RequestOptions,
    ): Promise<core.Page<Corti.CommonTaskResponse, Corti.CommonTaskListResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: Corti.agentic.agents.AgenticAgentsA2ATasksListRequest,
            ): Promise<core.WithRawResponse<Corti.CommonTaskListResponse>> => {
                const { pageSize, pageToken, contextId } = request;
                const _queryParams: Record<string, unknown> = {
                    pageSize,
                    pageToken,
                    contextId,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    mergeOnlyDefinedHeaders({
                        "A2A-Version": "1.0",
                        "Tenant-Name": requestOptions?.tenantName ?? this._options?.tenantName,
                    }),
                    requestOptions?.headers,
                );
                const _response = await core.fetcher({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)).base,
                        `agentic/agents/${core.url.encodePathParam(serializers.CommonAgentIdValue.jsonOrThrow(agentId, { omitUndefined: true }))}/a2a/tasks`,
                    ),
                    method: "GET",
                    headers: _headers,
                    queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: serializers.CommonTaskListResponse.parseOrThrow(_response.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 401:
                            throw new Corti.UnauthorizedError(_response.error.body, _response.rawResponse);
                        default:
                            throw new errors.CortiError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/agentic/agents/{agentId}/a2a/tasks",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<Corti.CommonTaskResponse, Corti.CommonTaskListResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.nextPageToken != null &&
                !(typeof response?.nextPageToken === "string" && response?.nextPageToken === ""),
            getItems: (response) => response?.tasks ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "pageToken", response?.nextPageToken));
            },
        });
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * @param {Corti.CommonAgentIdValue} agentId - Agent identifier (prefixed UUIDv7).
     * @param {Corti.CommonTaskIdValue} taskId - Task identifier (prefixed UUIDv7).
     * @param {Corti.agentic.agents.AgenticAgentsA2ATasksGetRequest} request
     * @param {TasksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Corti.UnauthorizedError}
     * @throws {@link Corti.NotFoundError}
     *
     * @example
     *     await client.agentic.agents.tasks.get("agt.0192f4c8-2c5a-7b3e-9f1a-3c8d6e2b7a40", "task.0192f4c8-4e7c-7d50-b13c-5eaf8a4d9c62")
     */
    public get(
        agentId: Corti.CommonAgentIdValue,
        taskId: Corti.CommonTaskIdValue,
        request: Corti.agentic.agents.AgenticAgentsA2ATasksGetRequest = {},
        requestOptions?: TasksClient.RequestOptions,
    ): core.HttpResponsePromise<Corti.CommonTaskResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(agentId, taskId, request, requestOptions));
    }

    private async __get(
        agentId: Corti.CommonAgentIdValue,
        taskId: Corti.CommonTaskIdValue,
        request: Corti.agentic.agents.AgenticAgentsA2ATasksGetRequest = {},
        requestOptions?: TasksClient.RequestOptions,
    ): Promise<core.WithRawResponse<Corti.CommonTaskResponse>> {
        const { historyLength } = request;
        const _queryParams: Record<string, unknown> = {
            historyLength,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "A2A-Version": "1.0",
                "Tenant-Name": requestOptions?.tenantName ?? this._options?.tenantName,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).base,
                `agentic/agents/${core.url.encodePathParam(serializers.CommonAgentIdValue.jsonOrThrow(agentId, { omitUndefined: true }))}/a2a/tasks/${core.url.encodePathParam(serializers.CommonTaskIdValue.jsonOrThrow(taskId, { omitUndefined: true }))}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.CommonTaskResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Corti.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new Corti.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.CortiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/agentic/agents/{agentId}/a2a/tasks/{taskId}",
        );
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * @param {Corti.CommonAgentIdValue} agentId - Agent identifier (prefixed UUIDv7).
     * @param {Corti.CommonTaskIdValue} taskId - Task identifier (prefixed UUIDv7).
     * @param {TasksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Corti.UnauthorizedError}
     * @throws {@link Corti.NotFoundError}
     * @throws {@link Corti.ConflictError}
     *
     * @example
     *     await client.agentic.agents.tasks.cancel("agt.0192f4c8-2c5a-7b3e-9f1a-3c8d6e2b7a40", "task.0192f4c8-4e7c-7d50-b13c-5eaf8a4d9c62")
     */
    public cancel(
        agentId: Corti.CommonAgentIdValue,
        taskId: Corti.CommonTaskIdValue,
        requestOptions?: TasksClient.RequestOptions,
    ): core.HttpResponsePromise<Corti.CommonTaskResponse> {
        return core.HttpResponsePromise.fromPromise(this.__cancel(agentId, taskId, requestOptions));
    }

    private async __cancel(
        agentId: Corti.CommonAgentIdValue,
        taskId: Corti.CommonTaskIdValue,
        requestOptions?: TasksClient.RequestOptions,
    ): Promise<core.WithRawResponse<Corti.CommonTaskResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "A2A-Version": "1.0",
                "Tenant-Name": requestOptions?.tenantName ?? this._options?.tenantName,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).base,
                `agentic/agents/${core.url.encodePathParam(serializers.CommonAgentIdValue.jsonOrThrow(agentId, { omitUndefined: true }))}/a2a/tasks/${core.url.encodePathParam(serializers.CommonTaskIdValue.jsonOrThrow(taskId, { omitUndefined: true }))}:cancel`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.CommonTaskResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Corti.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new Corti.NotFoundError(_response.error.body, _response.rawResponse);
                case 409:
                    throw new Corti.ConflictError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.CortiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/agentic/agents/{agentId}/a2a/tasks/{taskId}/:cancel",
        );
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * Resubscribe to an in-flight task's event stream over SSE.
     */
    public subscribe(
        agentId: Corti.CommonAgentIdValue,
        taskId: Corti.CommonTaskIdValue,
        requestOptions?: TasksClient.RequestOptions,
    ): core.HttpResponsePromise<core.Stream<Corti.A2AStreamEventResponse>> {
        return core.HttpResponsePromise.fromPromise(this.__subscribe(agentId, taskId, requestOptions));
    }

    private async __subscribe(
        agentId: Corti.CommonAgentIdValue,
        taskId: Corti.CommonTaskIdValue,
        requestOptions?: TasksClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.Stream<Corti.A2AStreamEventResponse>>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "A2A-Version": "1.0",
                "Tenant-Name": requestOptions?.tenantName ?? this._options?.tenantName,
            }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher<ReadableStream>({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).base,
                `agentic/agents/${core.url.encodePathParam(serializers.CommonAgentIdValue.jsonOrThrow(agentId, { omitUndefined: true }))}/a2a/tasks/${core.url.encodePathParam(serializers.CommonTaskIdValue.jsonOrThrow(taskId, { omitUndefined: true }))}:subscribe`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            responseType: "sse",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: new core.Stream({
                    stream: _response.body,
                    parse: async (data) => {
                        return serializers.A2AStreamEventResponse.parseOrThrow(data, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        });
                    },
                    signal: requestOptions?.abortSignal,
                    eventShape: {
                        type: "sse",
                    },
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Corti.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new Corti.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.CortiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/agentic/agents/{agentId}/a2a/tasks/{taskId}/:subscribe",
        );
    }
}
