// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { TranscribeSocket } from "./Socket.js";

export declare namespace Transcribe {
    export interface Options extends BaseClientOptions {
        token?: core.Supplier<core.BearerToken | undefined>;
    }

    export interface ConnectArgs {
        tenantName: string;
        token: string;
        /** Arbitrary headers to send with the websocket connect request. */
        headers?: Record<string, string>;
        /** Enable debug mode on the websocket. Defaults to false. */
        debug?: boolean;
        /** Number of reconnect attempts. Defaults to 30. */
        reconnectAttempts?: number;
    }
}

export class Transcribe {
    protected readonly _options: Transcribe.Options;

    constructor(_options: Transcribe.Options) {
        this._options = _options;
    }

    public async connect(args: Transcribe.ConnectArgs): Promise<TranscribeSocket> {
        const { tenantName, token, headers, debug, reconnectAttempts } = args;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        _queryParams["tenant-name"] = tenantName;
        _queryParams.token = token;
        const _headers: Record<string, unknown> = mergeHeaders(
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            headers,
        );
        const socket = new core.ReconnectingWebSocket({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).wss,
                "/audio-bridge/v2/transcribe",
            ),
            protocols: [],
            queryParameters: _queryParams,
            headers: _headers,
            options: { debug: debug ?? false, maxRetries: reconnectAttempts ?? 30 },
        });
        return new TranscribeSocket({ socket });
    }

    protected async _getAuthorizationHeader(): Promise<string | undefined> {
        const bearer = await core.Supplier.get(this._options.token);
        if (bearer != null) {
            return `Bearer ${bearer}`;
        }

        return undefined;
    }
}
