name: ci

on: [push]

jobs:
    compile:
        runs-on: ci
        steps:
            - name: Checkout repo
              uses: actions/checkout@v4

            - name: Set up node
              uses: actions/setup-node@v4
              with:
                  registry-url: "https://npm.corti.app"
                  node-version: "22"

            - name: Setup yarn
              run: npm install -g yarn

            - name: Install dependencies
              run: yarn install

            - name: Compile
              run: yarn build

    test:
        runs-on: ci
        steps:
            - name: Checkout repo
              uses: actions/checkout@v4

            - name: Set up node
              uses: actions/setup-node@v4
              with:
                  registry-url: "https://npm.corti.app"
                  node-version: "22"

            - name: Setup yarn
              run: npm install -g yarn

            - name: Install dependencies
              run: yarn install

            - name: Check for formatting issues
              run: yarn prettier . --check --ignore-unknown

            - name: Run tests
              run: yarn test

    publish:
        needs: [compile, test]
        if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
        runs-on: ci
        permissions:
            id-token: write
        steps:
            - name: Checkout repo
              uses: actions/checkout@v4

            - name: Set up node
              uses: actions/setup-node@v4
              with:
                  registry-url: "https://npm.corti.app"
                  node-version: "22"

            - name: Setup yarn
              run: npm install -g yarn

            - name: Install dependencies
              run: yarn install

            - name: Build
              run: yarn build

            - name: Publish to npm
              run: |
                  publish() {
                    npx -y npm@latest publish --registry https://registry.npmjs.org "$@"
                  }
                  if [[ ${GITHUB_REF} == *alpha* ]]; then
                    publish --access public --tag alpha
                  elif [[ ${GITHUB_REF} == *beta* ]]; then
                    publish --access public --tag beta
                  elif [[ ${GITHUB_REF} == *rc* ]]; then
                    publish --tag rc
                  else
                    publish --access public
                  fi
